{{ define "main" }}
  <div class="lg:relative">
    <div class="mx-auto max-w-7xl w-full text-center px-20 py-20 lg:text-left">
      <div class="px-4 lg:w-1/2">
        <h1 class="text-5xl tracking-tight font-extrabold">Start the Journey</h1>
        <p class="mt-4 max-w-md mx-auto text-lg">
          what are you waiting for.
        </p>
      </div>

    </div><!-- text area -->
    <div class="relative h-screen lg:h-4/5 overflow-hidden lg:absolute lg:right-0 lg:w-1/2 lg:h-full">
      <img class="absolute w-full h-full -translate-y-80 object-cover lg:-translate-y-32 lg:scale-150" src="jonathan-petit-RC7L23fYicA-unsplash.jpg" />




    </div><!-- image area -->

  </div> <!-- End -->
{{ end }}
