{{ define "main" }}
  <div>
    <div class="mx-auto max-w-7xl w-full text-center px-20 py-20">
      <h1 class="text-5xl tracking-tight font-extrabold">Start the Journey</h1>
      <p class="mt-4 max-w-md mx-auto text-lg">
        what are you waiting for.
      </p>


    </div><!-- text area -->
    <div class="relative w-full h-64 lg:h-full">
      <img class="absolute w-full h-full object-cover" src="jonathan-petit-RC7L23fYicA-unsplash.jpg" />




    </div><!-- image area -->

  </div> <!-- End -->
{{ end }}
